@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: none;
}
body{
    background: #b8c8eb;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', 'sans-serif';
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    height: 50%;
    width: 72%;
    border-radius: 2rem;
}
.container > ul{
    padding: 5px 0px 1px 5px;
    position: relative;
    top: 5%;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    flood-color: #000;
    font-weight: 400;
    list-style: none;
}
.container > ul  h1{ font-weight: 500; }
.container > ul img{ 
    height: 60px;
    width: 60px;
}
.container > .enquiry {
      display: flex;
      flex-direction: row;
      position: relative;
      top: 47%;
      left: 2.5%;
      height: 7.7%;
      width: 19%;
      padding: 5px 1px 0px 5px;
      background-color: transparent;
      gap: 18px;
}
.enquiry > abbr { border-bottom: none;  }
.enquiry button {
      border: none;
      background: none;
      color: rgb(10, 10, 197);
      font-size: 24px;
      cursor: pointer;
}
#unlock{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 8%;
    left: 48%;
    width: 50%;
    height: 85%;
    overflow: none;
    /* background-color: #ff0; */
}
#unlock #sendagain{
    position: relative;
    top: 5px;
    left: -50%;
    transform: translateX(18.7%);
    font-weight: 550;
    border: none;
    background: none;
    font-size: 15px;
    padding: 0; 
}
#unlock #sendagain > a{
    text-decoration: none;
    color: #0959da;
}
.onetimepassword{
    position: relative;
    display: flex;
    padding-top: 12%;
    gap: 4.8px;
    left: 10%;
    overflow: hidden;
}
.onetimepassword input{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #aca9a9;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}
.onetimepassword input:focus{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    outline: none;
    border: 3.1px solid rgb(10, 10, 231);
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}
#unlock #tip{
    position: relative;
    left: 10%;
    display: block;
    flex-wrap: wrap;
    font-size: 0.857rem;
    overflow: hidden;
    font-weight: 450;
    top: 14%;
}
#unlock #nextstage:disabled{
    position: relative;
    top: 30%;
    left: 70%;
    background-color: #d0cfcf;
    width: max-content;
    padding: 11px 16px;
    border-radius: 10px;
    color: #727171;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: no-drop;
}
#unlock #nextstage:enabled{
    position: relative;
    top: 30%;
    left: 70%;
    background-color: rgb(10, 10, 231);
    width: max-content;
    padding: 11px 16px;
    border-radius: 10px;    
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
#unlock #nextstage:enabled:hover{
    border-radius: 2rem;
    transition: all 0.4s ease-in-out;
}